@font-face {
    font-family: 'Prompt';
    src: url('/Users/gam/Desktop/portfolio/Frontend/src/assets/fron/FC Bluewhale [Non-commercial].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
